{
	margin: 0;
	padding: 0;
}
header, footer, nav {
	display: block;
}
body {
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background:#f0f0f0; 
}
header {
	margin-top: 5px;
	background: inherit;
}
header h1 {
	color: #000;
	font-size: 30px;
	background: inherit;
}
p {
	padding-bottom: 22px;
}

/* styling the nav bar */
nav {
	position: absolute;
	width: 100%;
	left: 0;
	top: 40px;
	background: #1c1c1c;
}
nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}
nav ul li {
	float: left;
	display: block;
	font-size: 14px;
	line-weight: 44px;
	text-align: center;
	text-decoration: none;
	color: #777;
}
nav ul li a {
	display: block;
	margin-right: 20px;
	font-size: 14px;
	line-weight: 44px;
	text-align: center;
	text-decoration: none;
	color: #777;
}
nav ul li a:hover {
	color: #fff;
}
nav ul li ul {
	display: none;
	width: 90px;
}
nav ul li:hover ul {
	display: block;
	background: #1c1c1c;
	position: absolute;
}
nav ul li:hover ul li {
	clear: both;
	float: left;
}
nav ul li:hover ul li a {
	text-align: center;
	text-decoration: none;
	color: #777;
}
/* styling secion */
section {
	margin-top: 50px;
}
/* styling footer */
footer img{
	float: right;
}
footer #clock {
	clear: both;
	float: right;
	color: #1c1c1c;
}
/* styling forms */
form label {
	color: #1c1c1c;
}