{
	margin: 0;
	padding: 0;
}
header, footer, nav {
	display: block;
}
body {
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background:#f0f0f0; 
}
header {
	background: inherit;
}
h1 {
	color: #000;
	font-size: 50px;
	background: inherit;
}
p {
	padding-bottom: 22px;
}

/* styling the nav bar */
nav {
	position: absolute;
	width: 100%;
	left: 0;
	background: #1c1c1c;
}
nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	margin-right: 20px;
	font-size: 14px;
	line-weight: 44px;
	text-align: center;
	text-decoration: none;
	color: #777;
}
nav ul li a:hover {
	color: #fff;
}